.h-wrapper {
    background-color:rgb(22, 19, 19);
    color:wheat;
}

.h-container {
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
  
}

.h-menu {
    gap: 4rem;
}
.h-menu:hover{
cursor: pointer;
}
.menu-icon{
display: none;

}

@media screen and (max-width: 768px) {
    .menu-icon{
        display: block;
        position: relative;
        z-index:2;
       
       
    }
    .h-menu{
        position: absolute;
        color: blue;
        background: white;
        font-size: 1.6rem;
        top: 3rem;
        right: 4rem;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 11px;
        align-items: flex-start;
        transition: 300ms ease-in;

    }
   
}